<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <img class="w-40 opacity-10" src="/static/assets/img/logos/gray-logos/logo-jj-width.svg" alt="logo">
          </a>
          <h6 class="font-weight-bolder mb-4">알고리즘 & 지능정보처리 연구실</h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Algorithm</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/about/lab/algorithm" target="_blank">
                Lab
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/professor/jo-dong-young" target="_blank">
                Professor
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/lab/algorithm-students" target="_blank">
                Students
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Intelligent Information Processing</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/about/lab/intelligent" target="_blank">
                Lab
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/professor/jang-hong-jun" target="_blank">
                Professor
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/lab/intelligent-students" target="_blank">
                Students
              </a>
            </li>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Help & Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            &copy; <a href="https://jj.ac.kr" target="_blank">Creative JeonJu University</a> - Coded By <a href="https://github.com/kim-do-hyeon" target="_blank">pental</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>