  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; Creative JeonJu University
              coded by <a href="https://bit.ly/3fKQZaL" class="font-weight-bold" target="_blank">pental</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>
